<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Hoteles</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  routerLink="/usuario" routerLinkActive="active">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/hotel" routerLinkActive="active">Hoteles</a>
          </li>
        </ul>
           <div class="d-flex" *ngIf="_usuarioService.obtenerIdentidad()">
             <img src="/assets/img_avatar.png" alt="Avatar" class="avatar">
              <li class="nav-item dropdown">
                
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{_usuarioService.obtenerIdentidad().nombres}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> 
                  <li><a class="dropdown-item" routerLink="/inicio" (click)="CerrarSesion()" >Cerrar Sesion</a></li>
                  <li><a class="dropdown-item" routerLink="/inicio" routerLinkActive="active">Perfil</a></li>
                  <li><hr class="dropdown-divider"></li>
                </ul>
              </li>    
            </div>
      </div>
    </div>
  </nav>